<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgyd.project.mapper.EdgeMapper">

    <select id="getEdgeById" resultType="com.zgyd.project.domain.edge.EdgeDao">
        select id,sid,tid,w,k,level from tb_edge where del_flag='0' and sid = #{sid} and tid = #{tid}
    </select>

    <select id="getEdgeBySid" resultType="com.zgyd.project.domain.edge.EdgeDao">
        select id,sid,tid,w,k,level from tb_edge where del_flag='0' and sid = #{sid}
    </select>

    <select id="getEdgePage" resultType="com.zgyd.project.domain.edge.EdgeVO">
        SELECT
        a.id,
        a.name,
        a.sid,
        a.tid,
        b.name AS sName,
        c.name AS tName,
        a.w,
        a.k,
        a.level,
        a.create_time as createTime
        FROM
        tb_edge a
        LEFT JOIN tb_node b ON a.sid = b.id
        LEFT JOIN tb_node c ON a.tid = c.id
        WHERE a.del_flag = '0'
        <if test="query != null and query.trim() !=''">
            and a.name LIKE concat('%',#{query},'%')
        </if>

    </select>

</mapper>